.navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #7EC181; /* Dark background color for sidebar */
    color: white;
    width: 180px; /* Set a fixed width for the navbar */
    padding: 20px;
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center items horizontally */
    justify-content: space-between; /* Add space between top, middle, and bottom */
}

.navbar .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    margin-bottom: 10px; /* Space below the profile section */
}

.navbar .profile-section img {
    width: 60px;
    height: 60px;
    border-radius: 50%; /* Make the image circular */
    border: 2px solid white;
    margin-bottom: 5px; /* Space between the image and the date/time */
}

.navbar .profile-section .date-time {
    color: #15803D; /* Set text color */
    text-align: center; /* Center-align the text */
    font-size: 16px;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    padding: 0;
    width: 100%; /* Full width for links */
}

.navbar li {
    margin-bottom: 12px;
    text-align: center; /* Center-align the links */
}

.custom-link {
    text-decoration: none;
    color: #000100; /* Default font color */
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    border-radius: 4px;
    text-align: left;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */

}
.custom-link i {
    margin-right: 8px;
}

.custom-link:hover {
    background-color: #15803D; /* Hover background color (darker green shade) */
    color: white; /* Hover font color */
}


